*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body
{
    width: 100%;
    height: 100%;
    background: #172631;
}

#player-container
{
    display: block;
    width: 100%;
    height: 0;
    transition: height 1s;
    overflow: hidden;
    background: black;
}

#player
{
    display: block;
    width: 640px;
    height: 360px;
    line-height: 360px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    color: #dddddd;
}

#song-table
{
    position: absolute;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    color: #dddddd;
    background: #0F1D29;
}

#song-table *
{
    padding: 15px;
    overflow: hidden;
    border: 1px solid #3C5365;
}

#song-table tbody
{
    cursor: pointer;
}